<ul>
    <li><a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="New">Создать</a></li>
    <li><a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="List">Список</a></li>
    <li><a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Edit" asp-route-id="1">Пользователь №1</a></li>
</ul>
