@{
    ViewData["Title"] = "Home Page";
}

<div class="text-start">
    <h1 class="display-4">Tasker:</h1>
    <h2 class="display-6">управление задачами и пользователями</h2>
    <ul>
        <li></li>
        <li></li>
    </ul>
</div>
